$white: white;
$black: black;

$light-gray: rgba(0, 0, 0, .1);
$extra-light-gray: #f2f2f2;

$green-accent: #69f0ae;
$blue-accent: #318be1;

$indigo-dark: #1a237e;

$error: #f44336;
$success: #00e676;

$primary-color: $blue-accent !default;
$secondary-color: $blue-accent !default;
$uiorange : #FF9800 !important;
