/***********************************************************************************************************************
/*
/* Table of Contents
/*
/* 1. Loaders / #preloader, #status, #ajax-status
/* 2. Navigation / nav
/* 3. Ajax-box / #ajax-box
/* 4. Toast / .toast
/* 5. Card / .card
/* 6. Forms / #subscribe, #contact
/* 7. Tabs / .tabs
/* 8. Common styles
/* 9. Triangles / #triangles
/* 10. Services / .services
/* 11. Works / .filter-options, .picture-item
/* 12. About / .team
/* 13. Prices / .currency-switcher, .price-container
/* 14. Contact / .map
/* 15. Footer / .page-footer
/*
/**********************************************************************************************************************/

@import '../../libs/bourbon/bourbon';
@import 'colors';
@import 'media-query-ranges';

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/** NO SCRIPT **/
#noscript {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
}

/***********************************************************************************************************************
/*
/* 1. Loaders / #preloader, #status, #ajax-status
/*
/**********************************************************************************************************************/
@import 'loaders';

/***********************************************************************************************************************
/*
/* 2. Navigation / nav
/*
/**********************************************************************************************************************/
@import 'nav';

/***********************************************************************************************************************
/*
/* 3. Ajax-box / #ajax-box
/*
/**********************************************************************************************************************/
@import 'ajax-box';

/***********************************************************************************************************************
/*
/* 4. Toast / .toast
/*
/**********************************************************************************************************************/
@import 'toast';

/***********************************************************************************************************************
/*
/* 5. Card / .card
/*
/**********************************************************************************************************************/
@import 'card';

/***********************************************************************************************************************
/*
/* 6. Forms / #subscribe, #contact
/*
/**********************************************************************************************************************/
@import 'forms';

/***********************************************************************************************************************
/*
/* 7. Tabs / .tabs
/*
/**********************************************************************************************************************/
@import 'tabs';

/***********************************************************************************************************************
/*
/* 8. Common styles
/*
/**********************************************************************************************************************/
@import 'common';

/***********************************************************************************************************************
/*
/* 9. Triangles / #triangles
/*
/**********************************************************************************************************************/
@import 'triangles';

/***********************************************************************************************************************
/*
/* 10. Services / .services
/*
/**********************************************************************************************************************/
@import 'services';

/***********************************************************************************************************************
/*
/* 11. Works / .filter-options, .picture-item
/*
/**********************************************************************************************************************/
@import 'works';

/***********************************************************************************************************************
/*
/* 12. About / .team
/*
/**********************************************************************************************************************/
@import 'about';

/***********************************************************************************************************************
/*
/* 13. Prices / .currency-switcher, .price-container
/*
/**********************************************************************************************************************/
@import 'prices';

/***********************************************************************************************************************
/*
/* 14. Contact / .map
/*
/**********************************************************************************************************************/
@import 'contact';

/***********************************************************************************************************************
/*
/* 15. Footer / .page-footer
/*
/**********************************************************************************************************************/
@import 'footer';
